<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
        "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" version="XHTML+RDFa 1.0" dir="ltr"
      xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:og="http://ogp.me/ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:sioct="http://rdfs.org/sioc/types#"
      xmlns:skos="http://www.w3.org/2004/02/skos/core#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
      xmlns:fb="http://ogp.me/ns/fb#"
      xmlns:article="http://ogp.me/ns/article#"
      xmlns:book="http://ogp.me/ns/book#"
      xmlns:profile="http://ogp.me/ns/profile#"
      xmlns:video="http://ogp.me/ns/video#">

<head profile="http://www.w3.org/1999/xhtml/vocab">
[[$s-head]]
</head>
<body class="html front not-logged-in no-sidebars page-home-main icompany">

<!--<div id="testBed" class="row" style="padding: 100px;"></div> -->

<div class="container-fluid">
    <div id="topBar">
        <div class="clearfix row-fluid">
            <div id="top-bar-inner">
                <!-- Login | Register links -->
                <div class="span3 loginlinks">
                    
                </div>


                <!--Social Region -->


                <!--Search Block -->

                <div class="search-box-top span2  offset7  ">
                    <div class="inner">
                        <div class="region region-search-box">


                            <div id="block-search-form" class="clearfix block block-search">


                                <div class="content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--topBar-->
</div>


<div class="container-fluid theme-border" id="page-wrapper">

    <!--Header area -->
    <div class="row-fluid" id="header">

        <div id="header_left" class="span5 clearfix">
            <div class="inner">
                <div id="logocontainer"><a href="/" title="[[++site_name]]"><img
                        src="[[++logotype]]" alt="[[++site_name]]"/></a></div>
                <div id="texttitles">
                </div>
            </div>
        </div>

        <div id="wap-menu" class="span7">
            <div class="pull-right main_menu_container">

                [[$nav-main]]

            </div>
        </div>


    </div>
    <!--Header area -->


 


    <!-- content zone -->
    <div id="zone1" class="row-fluid">







        <!-- bootstrap tabs implementation on this region-->


        <!--TITLE REGION-->
        <div id="title-region" class="row-fluid">
            <div class="span12">
                <div class="inner">
                    <h1 class="page-title">[[*longtitle:default=`[[*pagetitle]]`]]</h1>
                </div>
                <div class="breadcrumb"><div id="home-icon"> <a href="/"> <span class="icon-home"></span></a> </div> <a href="/">Главная</a> » О нас</div>
            </div>
        </div>

        <span class="divider"></span>
        <div id="zone2" class="row-fluid">



            <div id="content-area" class=" span12 ">
                <div class="inner  inner-no-left-sidebar  inner-no-right-sidebar  inner-no-sidebar ">

                    <div id="content-region">
                        <div class="tabs"></div>

                        <div class="region region-content">



                            <div id="block-system-main" class="clearfix block block-system">



                                <div class="content">
                                    <div id="node-23" class="node node-page iteration-1" about="[[~[[*id]]]]" typeof="foaf:Document">

                                    <span property="dc:title" content="О нас" class="rdf-meta element-hidden"></span>
                                        <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                        <div class="node-user-picture"> </div>


                                    <div class="meta">

                                        [[If? &subject=`[[*images]]` &operator=`notempty` &then=`

                                        <div class="content clearfix">
                                            <div class="field field-name-field-project-image field-type-image field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">
                                                        <a class="">
                                                            <img typeof="foaf:Image" src="[[*images]]" width="640" height="480" alt="" style="visibility: visible; opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        `]]

                                        <div class="content clearfix row-fluid">
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even" property="content:encoded">

                                              [[$content]]

                                            </div></div></div>
                                        </div>

                                        <div class="terms"></div>
                                    </div>

                                    <div class="clearfix">
                                        <div class="links"></div>

                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            </div><!--content area-->


        </div><!--content zone-->
    </div>

    <div id="zone3">
        <!--bottom region -->

        <!--footer region-->


        <div id="footer-region" class="row-fluid">
            <div class="footer-inner">


                <div id="footer-right" class="span12">
                    <div class="region region-footer6">


                        <div id="block-block-34" class="clearfix block block-block">


                            <div class="content">[[++counter_yandex]]</div>
                        </div>
                    </div>
                </div>

                <span class="divider"> </span>
            </div>
        </div>


        <div id="footer-bar" class="row-fluid">
            <div id="secondary_menu" class="span5">
                <h2 class="element-invisible">Secondary menu</h2>
                [[$nav-footer]]
            </div>

            <div id="footer-note" class="span7">
                <div class="inner">
                </div>
            </div>
        </div>
        <!--footer bar-->

    </div>


</div>
<!--container fluid and page wrapper-->
<span class="divider"></span>

<div id="feedback-div" class="visible-desktop">
    <a data-original-title="Give us your valuable feedback" rel="tooltip" data-placement="right" id="feedback-link"
       href="#myModal" role="button" data-toggle="modal"><img src="/sites/all/themes/icompany/img/feedback.png" alt=""/></a>
</div>

<div class="region region-modal">

    <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="myModal"
         class="clearfix modal hide fade in block block-multiblock">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 class="blocktitle">Отправить сообщение</h3>
        </div>


        <div class="modal-body content">
            <form class="webform-client-form" enctype="multipart/form-data" action="/content/otpravit-soobshchenie"
                  method="post" id="webform-client-form-25" accept-charset="UTF-8">
                <div>
                    <div class="form-item webform-component webform-component-textfield" id="webform-component-name">
                        <label for="edit-submitted-name">Имя <span class="form-required"
                                                                   title="Обязательное поле">*</span></label>
                        <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60"
                               maxlength="128" class="form-text required"/>
                    </div>
                    <div class="form-item webform-component webform-component-textfield" id="webform-component-phone">
                        <label for="edit-submitted-phone">Телефон <span class="form-required" title="Обязательное поле">*</span></label>
                        <input type="text" id="edit-submitted-phone" name="submitted[phone]" value="" size="60"
                               maxlength="128" class="form-text required"/>
                    </div>
                    <div class="form-item webform-component webform-component-textarea" id="webform-component-message">
                        <label for="edit-submitted-message">Сообщение <span class="form-required"
                                                                            title="Обязательное поле">*</span></label>

                        <div class="form-textarea-wrapper resizable"><textarea id="edit-submitted-message"
                                                                               name="submitted[message]" cols="60"
                                                                               rows="5"
                                                                               class="form-textarea required"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="details[sid]"/>
                    <input type="hidden" name="details[page_num]" value="1"/>
                    <input type="hidden" name="details[page_count]" value="1"/>
                    <input type="hidden" name="details[finished]" value="0"/>
                    <input type="hidden" name="form_build_id" value="form-zg5rPWQOwpS4LL5lc9q_aFV4ynWI8QSTrFrxeKUSv7U"/>
                    <input type="hidden" name="form_id" value="webform_client_form_25"/>

                    <div class="form-actions form-wrapper" id="edit-actions--2"><input class=" btn  form-submit"
                                                                                       type="submit" id="edit-submit--2"
                                                                                       name="op" value="Отправить"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                close
            </button>
        </div>

    </div>
</div>

<div id="toTop"><img class="visible-desktop" src="/sites/all/themes/icompany/img/toTop.png" alt="Go to top"/></div>


<div id="preLoad" style="display:none; visibility:hidden;"> <!-- Preload Images for backgrounds -->
    <img style="display:none; visibility:hidden;" src="/sites/all/themes/icompany/img/title-bg-shade.png" alt=""/></div>
<script type="text/javascript" src="http://kupimcartridg.ru/sites/all/themes/icompany/js/bootstrap.js"></script>


<!-- Bootstrap scripts -->
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();
            $('.carousel').carousel()
            $("a[rel=popover]").popover();
        });

    })(jQuery);
</script>

</body>
</html>